<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <button id="bt">BT</button>
<div><h4>fdsafs</h4></div>
</body>
<style>
  div{
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: 70px;
    background:yellow;
    /*line-height: 70px;*/
  }
</style>
<script>
  function handler(){
    var st = arguments;
    console.log(st.toString());
    var et = event;
    debugger
  }
  document.getElementById('bt').onclick=(ev)=>{
    var ty = event;
    var rr = ev;
    debugger
  }
</script>
</html>
